<div class="container">
  <div class="row">
    <div class="col-md-9 p-md-3">
  </div>

 </div>
</div>

<div class="container" >
  <div class="row">
          <div class="col-md-8 blog-main">
            <div class="container">
              <div class="row">
                <div class="col-md-9 p-md-3">
                 <h1>Edit Blog Post</h1>
            			<%= render 'form', blog: @blog %>
            			<%= link_to 'Show', @blog %> |
            			<%= link_to 'Back', blog_path %>
                </div>
              </div>
              </div>
          </div>
      </div>
</div>
