
    <div class="album py-5 bg-light">
        <div class="container">
			<div class="row">
				<div class = "col-md-12"
				<p class="cover-heading">
					<%= @comic.title %> 
				</p>
					<%= render "shared/comic_nav" %>

					<%= render "shared/share_nav" %>

				  <%= image_tag @comic.main_image, alt: @comic.title %>
				</div>
		</div>
	</div>
</div>